<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <arg name="world_file" default="$(find aruco_planning)/worlds/tester.world"/>
    <!-- more default parameters can be changed here -->
    <include file = "$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"   value="$(arg world_file)"/>
    </include>
</launch>